@font-face {
    font-family: 'ARMY RUST';
    src: url('/fonts/ARMYRUST.woff2') format('woff2'),
         url('/fonts/ARMYRUST.woff') format('woff'),
         url('/fonts/ARMYRUST.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Renner';
    src: url('/fonts/Renner.woff2') format('woff2'),
         url('/fonts/Renner.woff') format('woff'),
         url('/fonts/Renner.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}