:root
{
  --font-header: 'ARMY RUST', sans-serif;
  --font-body: 'Renner', sans-serif;

  --clr-colonials-light: #d5f1b6;
  --clr-colonials-medium: #729068;
  --clr-colonials-dark: #1b3515;

  --clr-wardens-light: #94c2d7;
  --clr-wardens-medium: #4a769b;
  --clr-wardens-dark: #081032;

  --clr-black: #222;
  --clr-white: #eee;
  --clr-focus: orange;
  --clr-olive: #4b5320;
}