#map
{
  margin: 0;
  position: relative;
  width: 100%;
  user-select: none;
  filter: drop-shadow( 0 0 5px rgba( 0, 0, 0, .6 ) );
}

#map .hex
{
  position: absolute;
  width: var( --hex-width );
  transform: translateX( -50% );
  cursor: pointer;
}

#map .hex .bg
{
  opacity: 1;
  transition: opacity .5s;
}

#map.blur.small .hex .bg
{
  opacity: .7;
}

#map.blur.small .hex:hover .bg
{
  opacity: 1;
}

#map .hex .bg
{
  width: 100%;
  height: auto;
  z-index: 0;
}

#map .hex .title
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate( -50%, -50% );
  text-align: center;
  color: black;
  opacity: .6;
  line-height: 1em;
  transition: opacity .5s;
  letter-spacing: 1px;
  margin: 0;
  font-size: calc( var( --map-width ) / 80 );
  color: rgba( 0, 0, 0, .5 );
}

#map .hex:hover .title,
#map.blur .hex:hover .title
{
  opacity: 1;
}

#map:not(.small) .hex
{
  pointer-events: none;
}

#map:not(.small)
{
  cursor: move;
}