/* hexes in the 0 column: the vertical center; */
#BasinSionnach,
#ReachingTrail,
#CallahansPassage,
#DeadLands,
#UmbralWildwood,
#GreatMarch,
#Kalokai
{
  left: 50%;
}

/* hexes in the -1 column */
#SpeakingWoods,
#MooringCounty,
#LinnMercy,
#LochMor,
#Heartlands,
#RedRiver
{
  left: calc( 50% - var( --col-width ) );
}

/* hexes in the -2 column */
#CallumsCape,
#Stonecradle,
#FarranacCoast,
#Westgate,
#AshFields
{
  left: calc( 50% - 2 * var( --col-width ) );
}

/* hexes in the -3 column */
#NevishLine,
#Oarbreaker,
#FishermansRow,
#Origin
{
  left: calc( 50% - 3 * var( --col-width ) );
}

/* hexes in the +1 column */
#HowlCounty,
#ViperPit,
#MarbanHollow,
#DrownedVale,
#ShackledChasm,
#Acrithia
{
  left: calc( 50% + var( --col-width ) );
}

/* hexes in the +2 column */
#ClansheadValley,
#WeatheredExpanse,
#EndlessShore,
#AllodsBight,
#Terminus
{
  left: calc( 50% + 2 * var( --col-width ) );
}

/* hexes in the +3 column */
#MorgensCrossing,
#Godcrofts,
#TempestIsland,
#TheFingers
{
  left: calc( 50% + 3 * var( --col-width ) );
}

/* hexes in row 1 */
#BasinSionnach
{
  top: 0;
}

/* hexes in row 2 */
#SpeakingWoods,
#HowlCounty
{
  top: var( --row-height );
}

/* hexes in row 3 */
#CallumsCape,
#ReachingTrail,
#ClansheadValley
{
  top: calc( 2 * var( --row-height ) );
}

/* hexes in row 4 */
#NevishLine,
#MooringCounty,
#ViperPit,
#MorgensCrossing
{
  top: calc( 3 * var( --row-height ) );
}

/* hexes in row 5 */
#Stonecradle,
#CallahansPassage,
#WeatheredExpanse
{
  top: calc( 4 * var( --row-height ) );
}

/* hexes in row 6 */
#Oarbreaker,
#LinnMercy,
#MarbanHollow,
#Godcrofts
{
  top: calc( 5 * var( --row-height ) );
}

/* hexes in row 7 */
#FarranacCoast,
#DeadLands,
#EndlessShore
{
  top: calc( 6 * var( --row-height ) );
}

/* hexes in row 8 */
#FishermansRow,
#LochMor,
#DrownedVale,
#TempestIsland
{
  top: calc( 7 * var( --row-height ) );
}

/* hexes in row 9 */
#Westgate,
#UmbralWildwood,
#AllodsBight
{
  top: calc( 8 * var( --row-height ) );
}

/* hexes in row 10 */
#Origin,
#Heartlands,
#ShackledChasm,
#TheFingers
{
  top: calc( 9 * var( --row-height ) );
}

/* hexes in row 11 */
#AshFields,
#GreatMarch,
#Terminus
{
  top: calc( 10 * var( --row-height ) );
}

/* hexes in row 12 */
#RedRiver,
#Acrithia
{
  top: calc( 11 * var( --row-height ) );
}

/* hexes in row 13 */
#Kalokai
{
  top: calc( 12 * var( --row-height ) );
}