@font-face {
    font-family: 'ARMY RUST';
    src: url('/assets/fonts/ARMYRUST.woff2') format('woff2'),
        url('/assets/fonts/ARMYRUST.woff') format('woff'),
        url('/assets/fonts/ARMYRUST.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root
{
  --font-header: 'ARMY RUST', sans-serif;
  --font-body: sans, sans-serif;

  --world-aspect: 98%;
  --hex-width: 16%;
  --hex-col-aspect: 1.334; /* smaller number is wider apart */
  --col-width: calc( var( --hex-width ) / var( --hex-col-aspect ) );
  --col-row-aspect: 1.71;
  --row-height: calc( var( --col-width ) / var( --col-row-aspect ) );

  --clr-colonials-light: #d5f1b6;
  --clr-colonials-medium: #729068;
  --clr-colonials-dark: #1b3515;

  --clr-wardens-light: #94c2d7;
  --clr-wardens-medium: #4a769b;
  --clr-wardens-dark: #081032;

  --clr-black: #222;
  --clr-white: #eee;
  --clr-focus: orange;
}

html, body
{
  padding: 0;
  margin: 0;
  background: rgba( 0, 0, 0, .1 );
  font-family: var( --font-body );
  font-size: 14px;
  color: var( --clr-black );
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6
{
  font-family: var( --font-header );
}

.header
{
  background: #777777ee;
  padding: 10px;
  box-shadow: 0 0 5px 5px rgba( 0, 0, 0, .3 );
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.header > *
{
  margin-right: 10px;
}

.header .logo
{
  font-size: 12px;
  margin: 2px 20px 0 0;
}

.header h1,
.header h2
{
  margin: 0;
  line-height: 1;
  text-align: center;
  color: rgba( 0, 0, 0, .6 );
}

.header h1
{
  font-size: 6.3em;
  margin: -.2em 0;
}

.header h2
{
  font-size: 1em;
  letter-spacing: .05em;
}

.block
{
  border: none;
  background: #999;
  border-radius: 6px;
  padding: 5px 15px;
}

.block .legend
{
  margin: 2px 0 4px 0;
  text-align: center;
  width: 100%;
}

.block .inner
{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.shards label
{
  flex: 1 1 33%;
  cursor: pointer;
  overflow: hidden;
  color: var( --clr-white );
  height: 24px;
}

.shards label:first-of-type
{
  border-radius: 4px 0 0 4px;
}

.shards label:last-of-type
{
  border-radius: 0 4px 4px 0;
}

.shards label input
{
  display: none;
}

.shards label div
{
  background: rgba( 0, 0, 0, .3 );
  padding: 4px;
  text-align: center;
  text-transform: capitalize;
  transition: all .5s;
}

.shards label:hover div
{
  background: rgba( 0, 0, 0, .1 );
}

.shards label input:checked + div
{
  background: var( --clr-focus );
  color: var( --clr-black );
}

.map-zoom button
{
  border: none;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  font-weight: bold;
  background: var( --clr-white );
  cursor: pointer;
  transition: background .5s;
}

.map-zoom button:hover
{
  background: white;
}

.map-zoom .zoom-in
{
  cursor: zoom-in;
}

.map-zoom .zoom-out
{
  cursor: zoom-out;
}

.map-zoom .zoom-level
{
  width: 30px;
  padding-top: 4px;
  text-align: center;
  color: var( --clr-white );
}

#fatt-map
{
  position: absolute;
  display: block;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}