@font-face {
    font-family: 'ARMY';
    src: url('/assets/fonts/BILLIE.woff2') format('woff2'),
         url('/assets/fonts/BILLIE.woff') format('woff'),
         url('/assets/fonts/BILLIE.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Renner';
    src: url('/assets/fonts/Renner.woff2') format('woff2'),
         url('/assets/fonts/Renner.woff') format('woff'),
         url('/assets/fonts/Renner.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} 