:root
{
  --transition-time: .3s;
}

.background text
{
  transition: all .3s;
}

.scaler[class*="scale-0.1"] .background text,
.scaler[class*="scale-0.2"] .background text
{
  fill: rgba( 0, 0, 0, .8 );
  font-size: 100px;
}

.scaler[class*="scale-0.3"] .background text
{
  fill: rgba( 0, 0, 0, .6 );
  font-size: 100px;
}

.scaler[class*="scale-0.4"] .background text,
.scaler[class*="scale-0.5"] .background text
{
  fill: rgba( 0, 0, 0, .4 );
}

.scaler[class*="scale-0.4"] .dynamics .icon,
.scaler[class*="scale-0.5"] .dynamics .icon,
.scaler[class*="scale-0.6"] .dynamics .icon,
.scaler[class*="scale-0.7"] .dynamics .icon
{
  --icon-size: calc( 100px * ( 1 - var( --scale ) ) );
}